# -----------------
# Quarto
# -----------------
.quarto/
_site/
docs/

# Jupyter via Quarto
**/*.quarto_ipynb

# -----------------
# knitr / Quarto cache
# -----------------
*_cache/
*_files/

# varmuuden vuoksi myös alihakemistoihin
**/*_cache/
**/*_files/

# -----------------
# R
# -----------------
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# -----------------
# cmdstan / C++
# -----------------
*.hpp
*.o
*.so
*.dll
*.dylib
/posts/2026-01-04-protestit-ja-saa.qmd
# -----------------
# OS / editor
# -----------------
.DS_Store
Thumbs.db
/.quarto/

#------------------
# Data
#------------------
*.nc
