# -----------------
# Quarto
# -----------------
.quarto/
_site/
docs/

# Jupyter via Quarto
**/*.quarto_ipynb

# -----------------
# knitr / Quarto cache
# -----------------
*_cache/
*_files/
*_site_libs/
*/site_libs/
# varmuuden vuoksi myös alihakemistoihin
**/*_cache/
**/*_files/

# -----------------
# R
# -----------------
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# -----------------
# cmdstan / C++
# -----------------
*.hpp
*.o
*.so
*.dll
*.dylib
# -----------------
# OS / editor
# -----------------
.DS_Store
Thumbs.db
/.quarto/

#------------------
# Data
#------------------
*.nc

#------------------
# Other
#------------------
*/temp/


